---
layout: archive 
author_profile: true
header:
  overlay_image: assets/image/header/skiing.jpg
excerpt: "Research"
feature_row_pub:
  - url: /tags/#learning-from-demonstration
    image_path: /assets/image/thumbnail/LfD.png
    alt: "LfD"
    title: "LfD"
    excerpt: "Learning from demonstrations(LfD) techniques generalize the pre-trained robot motions in current environments. Multiple demonstrations and motion safety of generalized movement are considered."
  - url: /tags/#planning
    image_path: /assets/image/thumbnail/MotionPlanning.png
    alt: "Planning"
    title: "Planning"
    excerpt: "Robots find their trajectory to complete the mission. Sampling-based and optimized-based planning techiniques are investigated."
  - url: /tags/#aerial-vechicle
    image_path: /assets/image/thumbnail/AerialVehicles.png
    alt: "UGV/UAV"
    title: "UGV/UAV"
    excerpt: "Various types of unmanned mobile vehicles are implemented for autonomous driving."
---

<p> In Spring 2014, I joined <a href="http://larr.snu.ac.kr/" target="_blank">LARR</a> (former ICSL) in Seoul National University to pursue research in <b>Robotics</b>. From Winter 2020, I has been working at Mechatronics Research, Samsung Electronics.</p>
<p> My research interests in robotics are <b>Learning from Demonstration </b>, [<a href="/research/journal/Learning-and-Generalizing-Cooperative-Manipulation-Skills-using-Parametric-Dynamic-Movement-Primitives/">1</a>, <a href="/research/conference/Motion-Planning-with-Movement-Primitives-for-Cooperative-Aerial-Transportation-in-Obstacle-Environment/">2</a>] and <b>Motion Planning</b> [<a href="/research/conference/Sampling-based-Motion-Planning-for-Aerial-Pick-and-Place/">3</a>].</p>

{% include feature_row id="feature_row_pub" caption="Featured Publications" %}

<h3 class="archive__subtitle">Publications</h3>

{% for post in site.categories.Research %}
	{% include archive-single.html type='post' %}
{% endfor %}
